.item {
  display: grid;
  grid-template-columns: 45px 1fr 16px;
  grid-gap: 10px;
  align-items: center;
  padding: 10px 20px;
  transition: .25s;

  &:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
  }
}

.image {
  width: 45px;
  height: 45px;
  background-size: cover;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  color: rgb(140, 140, 140);
}