.container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: sticky;
  z-index: 10;
  top: 40px;
  background-color: rgb(250, 250, 250);

  @media (min-width: 640px) {
    top: 60px
  }
}

.tabs {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  height: 40px;
  max-width: 900px;
  position: relative;
  width: 100%;
  transition: .25s;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  padding: 0 20px;
  margin-bottom: -1px;
  border: 1px solid transparent;
  color: rgb(200, 200, 200);
  font-size: 14px;
  transition: color .25s, border-bottom-color .25s;

  &:hover {
    cursor: pointer;
    color: rgb(160, 160, 160);
    border-bottom: 1px solid rgb(160, 160, 160);
  }

  &_active {
    @extend .tab;
    color: rgb(40, 40, 40);
    border-bottom: 2px solid rgb(40, 40, 40);

    &:hover {
      color: rgb(40, 40, 40);
      border-bottom: 2px solid rgb(40, 40, 40);
    }
  }
}

.icon {
  color: rgb(200, 200, 200);
  transition: .25s;

  .tab:hover > & {
    color: rgb(160, 160, 160);
  }

  .tab_active > & {
    color: rgb(40, 40, 40);
  }

  .tab_active:hover > & {
    color: rgb(40, 40, 40);
  }
}
